################################################################################
# ivata groupware sudo setup program config
# -----------------------------------------
#
# You MUST CHANGE this if you're not using tomcat with the user tomcat
# (e.g. change it to resin if you use resin and that is the name of the user
# you use to start the app server)
USER_APP_SERVER=tomcat
# Path to the scripts - leave blank to use the path to the setup program.
IVATAGROUPWARE_DIR=
# Path to the sudoers file
SUDOERS=/etc/sudoers
################################################################################
# PROGRAMS
# path to programs which may be used - normally safe to leave 'as is', unless
# you have an incomplete path.
#
PERL=perl
# shell - used to execute shell scripts
SH=sh
# switch user command; used to test sudo
SU=su
################################################################################

